// bower:scss
// endbower  

$page-background: white;
$plot-background: #f9f6e8;

$body-blue: #5f69f8;
$body-pink: #ef68ce;
$body-red: #d86053;
$body-outline: #e6a170;

$shape-grey: #595959;
$shape-circle-outline: #f2eddc;