// bower:scss
// endbower    
    
#spatial-canvas {
  background: $plot-background;
}

.nbody {
 /* stroke: $body-outline;
  stroke-width: 1px; */
  
  &.nbody-0 {
    fill: $body-0;
  }

  &.nbody-1 {
    fill: $body-1;
  }

  &.nbody-2 {
    fill: $body-2;
  }
}

.nbody-trail-0 {
  fill: $body-0;
  opacity: 0.8;
}

.nbody-trail-1 {
  fill: $body-1;
  opacity: 0.8;
}

.nbody-trail-2 {
  fill: $body-2;
  opacity: 0.8;
}

.play-control {
  font-size: 2em;
  opacity: 0.25;
  
  &.play-control-active {
    opacity: 0.8;
  }
  
  &:hover {
    opacity: 0.6;
  }
}




