    
    
#shape-canvas {
  background: $page-background;
}

.shape-circle {
  fill: $plot-background;
  stroke: $shape-circle-outline;
  stroke-width: 2px;
}

.shape-point, .shape-point-size {
 /* stroke: $body-outline;
  stroke-width: 1px; */
  
  fill: $shape-grey;
}

.shape-point-trail {
  fill: $shape-grey;
  opacity: 0.8;
}

.shapeclue {
  stroke-width: 1px;
  
  &.shapeclue-0 {
    fill: rgba($body-0, 0.5);
    stroke: rgba($body-0, 0.8);
  }

  &.shapeclue-1 {
    fill: rgba($body-1, 0.5);
    stroke: rgba($body-1, 0.8);
  }

  &.shapeclue-2 {
    fill: rgba($body-2, 0.5);
    stroke: rgba($body-2, 0.8);
  }
}

.shape-size-gauge {
  stroke-width: 2px;
  stroke: $shape-circle-outline;
}

.shape-size-clue {
  fill: $shape-circle-outline;
  stroke: none;
  font-size: 1.4em;
}


.line {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  opacity: 0.8;
  
  &.line-shape {
    stroke: $shape-grey;
  }
  
  &.line-body-0 {
    stroke: $body-0;
  }
  
  &.line-body-1 {
    stroke: $body-1;
  }
  
  &.line-body-2 {
    stroke: $body-2;
  }
}

.ic-selector {
  box-shadow: none;
  border: 0;
 /* border-radius: 0px;*/
 
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 1px solid rgba($control-color, 0.25);  
  outline-offset:-1px;
  
  &:focus {
    box-shadow: none;
    outline: 1px solid rgba($control-color, 0.25); 
    outline-offset:-1px;
  }
}

.ic-selector-caret {
  position: absolute;
  right: 30px;
  top: 15px;
  opacity: 0.4;
  
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #000000;
}